<h1>Enter the product details to add them to your Cart</h1>
<h1 class="mb-5">   </h1>
<h5>Enter the product name as in product list</h5>
<%= render 'form', cart: @cart %>
<h1 class="mb-5"> </h1>
<%= link_to 'Back', products_path, class:"btn btn-info" %>
