<p id="notice"><%= notice %></p>

<h1 class="mb-5">Products List</h1>


<div class="container",style="width: 500px">
  <div class="row">
    <div class="col-sm">
      Backpack
    </div>
    <div class="col-sm">
      1000
    </div>
     <div class="col-sm">
      
    </div>
  </div>
</div>
<div class="container",style="width: 500px">
  <div class="row">
    <div class="col-sm">
      Wallet
    </div>
    <div class="col-sm">
      500
    </div>
     <div class="col-sm">
      
    </div>
  </div>
</div>
<div class="container",style="width: 500px">
  <div class="row">
    <div class="col-sm">
      Handbag
    </div>
    <div class="col-sm">
      1500
    </div>
     <div class="col-sm">
      
    </div>
  </div>
</div>
<br>
<h1 class="mb-5">   </h1>
<%= link_to 'Add Product',new_cart_path ,  class:"btn btn-info"  %>  |  
<%= link_to 'Back',new_user_session_path,  class:"btn btn-info" %>
