<p id="notice"><%= notice %></p>

<p>
  <strong>Order items:</strong>
  <%= @product.order_items %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

 
<%= link_to 'Back', products_path %>
